a {
  text-decoration: none; /* Elimina el subrayado */
  color: inherit; /* Mantiene el color del texto original */
}

a:active,
a:focus,
a:hover {
  outline: none; /* Elimina el contorno de enfoque */
}