.form {
    width: 300px;
    margin:150px auto;
    color: aliceblue;
  }
  
  .form div {
    margin-bottom: 10px;
  }
  
  .form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
 
  .form input[type="password"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .form button {
    width: 104%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .form button:hover {
    background-color: #45a049;
  }